In [1]:
import pandas as pd

In [225]:


df = pd.read_csv(f"ciao.csv", header=None).set_index([1, 2, 3, 4, 0]).sort_index()


df = df.unstack()

df.columns = [ c0[1] for c0 in df.columns ]

cc = df.columns

mx = []
for i in range(len(cc)):
    for j in range(len(cc)):
        if cc[i] != cc[j]:
#             print(cc[i], cc[j], (df[cc[i]] == df[cc[j]]).all())
            mx.append([cc[i], cc[j], (df[cc[i]] == df[cc[j]]).all()])
            
print(pd.DataFrame(mx).pivot(index=0, columns=1, values=2))

1      s1     s2     s3
0
s1    NaN  False  False
s2  False    NaN  False
s3  False  False    NaN

In [44]:

df = pd.read_csv(f"ciao.csv", header=None).reset_index().set_index([1, 2, 3, 4, 0]).sort_index()

df = df.unstack()

df.columns = [ c0[1] for c0 in df.columns ]

cc = df.columns

mx = []
for i in range(len(cc)):
    for j in range(len(cc)):
        if cc[i] != cc[j]:
            print(cc[i], cc[j], (df[cc[i]] == df[cc[j]]).sum())
#             mx.append([cc[i], cc[j], (df[cc[i]] == df[cc[j]]).sum()])

# print(pd.DataFrame(mx).pivot(index=0, columns=1, values=2))

# df.iloc[0]

df

0 1 0
0 2 0
1 0 0
1 2 0
2 0 0
2 1 0

                                                                  0  \
1 2   3 4
3 0   0 33147489  0000000001000000000000000000494000000000010000...
        33147490  0000000001000000000000000000494000000000010000...
        33147491  0000000004000000000000000000694000000000040000...
        33147492  0000000004000000000000000000694000000000040000...
        33147505  0000000002000000000000000000594000000000020000...
...                                                             ...
4 165 0 32712124  00000000050000000000000000406F4000000000050000...
        32712131  00000000060000000000000000C0724000000000060000...
        32712132  00000000060000000000000000C0724000000000060000...
        32712133  00000000070000000000000000E0754000000000070000...
        32712134  00000000070000000000000000E0754000000000070000...

                                                                  1  \
1 2   3 4
3 0   0 33147489  000000000B0000000000000000308140000000000B0000...
        33147490  000000000B0000000000000000308140000000000B0000...
        33147491  000000000E0000000000000000E08540000000000E0000...
        33147492  000000000E0000000000000000E08540000000000E0000...
        33147505  000000000C0000000000000000C08240000000000C0000...
...                                                             ...
4 165 0 32712124  000000000E0000000000000000E08540000000000E0000...
        32712131  000000000F0000000000000000708740000000000F0000...
        32712132  000000000F0000000000000000708740000000000F0000...
        32712133  0000000010000000000000000000894000000000100000...
        32712134  0000000010000000000000000000894000000000100000...

                                                                  2
1 2   3 4
3 0   0 33147489  0000000015000000000000000068904000000000150000...
        33147490  0000000015000000000000000068904000000000150000...
        33147491  00000000180000000000000000C0924000000000180000...
        33147492  00000000180000000000000000C0924000000000180000...
        33147505  0000000016000000000000000030914000000000160000...
...                                                             ...
4 165 0 32712124  00000000170000000000000000F8914000000000170000...
        32712131  00000000180000000000000000C0924000000000180000...
        32712132  00000000180000000000000000C0924000000000180000...
        32712133  0000000019000000000000000088934000000000190000...
        32712134  0000000019000000000000000088934000000000190000...

[28620 rows x 3 columns]

In [4]:
# try,ci,wn,ws,id,nr,hex

df = pd.read_csv(f"ciao.csv", header=None).set_index(['try', 'ci', 'wn', 'ws', 'id']).sort_index()

df = df.unstack()

df.columns = [ c0[1] for c0 in df.columns ]

cc = df.columns

(df[0] == df[1]).all()

KeyError: 0

In [3]:
df

                                                              0  \
1 2   3 4
3 0   0 0     0000000001000000000000000000000000000000000000...
        1     0000000001000000000000000000000000000000000000...
        2     0000000002000000000000000000000000000000000000...
        3     0000000002000000000000000000000000000000000000...
        4     0000000003000000000000000000000000000000000000...
...                                                         ...
4 165 0 3311  0000000007000000000000000000000000000000000000...
        3312  0000000008000000000000000000000000000000000000...
        3313  0000000008000000000000000000000000000000000000...
        3314  0000000009000000000000000000000000000000000000...
        3315  0000000009000000000000000000000000000000000000...

                                                              1
1 2   3 4
3 0   0 0     000000000B000000000000000000000000000000000000...
        1     000000000B000000000000000000000000000000000000...
        2     000000000C000000000000000000000000000000000000...
        3     000000000C000000000000000000000000000000000000...
        4     000000000D000000000000000000000000000000000000...
...                                                         ...
4 165 0 3311  0000000010000000000000000000000000000000000000...
        3312  0000000011000000000000000000000000000000000000...
        3313  0000000011000000000000000000000000000000000000...
        3314  0000000012000000000000000000000000000000000000...
        3315  0000000012000000000000000000000000000000000000...

[28620 rows x 2 columns]